.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
  height: 52px;
  // padding: 0 5%;
  position: fixed;
  width: 100vw;
  top: 0;
  nav {
    menu {
      display: flex;
      list-style-type: none;
      gap: min(9%, 10rem);
      width: fit-content;
      justify-content: center;
      li {
        a {
          text-decoration: none;
          &.active {
            color: blue;
            font-weight: bold;
          }
          &:hover {
            color: pink;
          }
        }
      }
    }
  }
}
