.appCard {
  display: flex;
  flex-direction: column;
  // gap: 10 rem;
  width: 400px;
  margin: 40px;
  padding: 10px 16px;
  text-align: center;
  background-color: gold;
  border-radius: 10px;
  .app-container {
    background-color: greenyellow;
    padding: 10px 16px;
  }
}
